<%= image_tag "IMG_0016.jpeg",  class: "back-image"%>
<div class="question_main">
 <div class="question_contents">
  <div class="contents_top">
       解答画面
   </div>
<div class="container">
 <%= form_with(model: [@fish, @question, @answer], url: question_answers_path(user_id: current_user.id,fish_id: @fish), local: true) do |form| %>
   <div class="input-items">
      <div class="main_text">
       <%= form.text_field :answer_text, placeholder: "解答内容"%>
      </div>
      <div class="post_btn">
       <%= form.submit "解答する"%>
      </div>
     </div>
    <% end %>
  </div>
      <div class="prototype__manage">
 <%= link_to "戻る", fish_path(id: @fish,fish_id: @fish), class: :prototype__btn %>
      </div>
 </div>
</div>