<div class="main">
 <%= image_tag "IMG_0016.jpeg",  class: "back-image"%>
  <div class="inner_2">
    <div class="form__wrapper">
      <h2 class="page-heading">魚の情報の編集</h2>
 <%= form_with(model: @fish, url: fish_path(id: @fish), local: true) do |f|%>
   <div class="error_text">
  <%= render 'shared/error_messages',model: f.object %>
   </div>
  <div class="field">
    <%= f.label :name, "魚の名前" %>
    <span class="indispensable">（必須）</span><br />
    <%= f.text_field :name, class: :form__text  %>
  </div>

  <div class="field">
    <%= f.label :size, "魚の大きさ" %>
    <span class="indispensable">（必須）</span><br />
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :fish_text, "魚の説明" %>
    <span class="indispensable">（必須）</span><br />
    <%= f.text_area :fish_text, class: :form__text %>
  </div>

     <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">（必須）</span>
        </div>
<%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"fish-category"}) %>

  <div class="field">
    <%= f.label :image, "魚の画像" %>
    <span class="indispensable">（必須）</span><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>
  <div class="prototype__manage">
 <%= link_to "戻る", fish_path(@fish), class: :prototype__btn %>
      </div>
    </div>
  </div>
</div>