<main class="main">
<div class="back">
  <%= image_tag "IMG_0016.jpeg",  class: "back-image"%> 
  <div class="inner">
    <div class="prototype__wrapper">
    <div class="fish_user">
    <p class="detail__title">投稿者名</p>
     <p class="fish__user">
   <%= @fish.user.nickname %>
   </p>
   </div>
      <div class="fish_name" >
      <p class="prototype__hedding">
        <%= @fish.name %>
      </p>
        </div>
      <div class="fish__image">
        <%= image_tag @fish.image, class: 'card__img' %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">大きさ</p>
          <p class="detail__message">
            <%= @fish.size %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @fish.category.name %>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">魚の説明</p>
          <p class="detail__message">
            <%= @fish.fish_text %>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">水槽の大きさ</p>
          <p class="detail__message">
            <%= @breed.tank_size %>
          </p>
        </div>
           <div class="prototype__detail">
          <p class="detail__title">水温</p>
          <p class="detail__message">
            <%= @breed.temperature %>
             </p>
            </div>
        <div class="prototype__detail">
          <p class="detail__title">使っているフィルター</p>
          <p class="detail__message">
            <%= @breed.filter %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">使っているライト</p>
          <p class="detail__message">
            <%= @breed.raito %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">水質</p>
          <p class="detail__message">
            <%= @breed.condition %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">底砂</p>
          <p class="detail__message">
            <%= @breed.sand %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">水草</p>
          <p class="detail__message">
            <%= @breed.plant %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">飼育環境の説明</p>
          <p class="detail__message">
            <%= @breed.breeding_text %>
          </p>
        </div>
       <% if user_signed_in? && current_user == @fish.user %>
        <div class="prototype__manage">
          <%= link_to "魚の情報を編集する", edit_fish_path(fish_id: @fish.id), class: :prototype__btn %>
           <%= link_to "飼育環境の情報を編集する",  edit_fish_breed_path(fish_id: @fish,id: @breed), class: :prototype__btn %><br />
          <%= link_to "削除する", fish_path(@fish), method: :delete, class: :prototype__btn, id: "destroy" %>
        </div>
        <% end %>
           </div>
           <div class="question_top_text">
     <%= @fish.user.nickname %>さんは、左側の質問の文字をクリックすると質問に解答することができます。
  </div>
  <div class="index-main">
 <div class="contents">
<% @questions.each do |question| %>
    <div class="content_post">
      <div class="content_left">
       <% if user_signed_in? && current_user == @fish.user %>
       <%= link_to "質問", question_answers_path(question_id:question.id, fish_id:@fish),class: :answer__link %>
      <% else %>
      質問
      <% end %>
      </div>
      <div class="content_right">
      <div class="question-top">
       <div class="question-top__title">
         質問内容
       </div>
       <div class="question-top__name">
         投稿者名<br /><%= question.user.nickname %>
        </div>
       </div>
       <div class="question-bottom">
         <div class="question-bottom__content">
          <%= question.question_text %>
         </div>
        </div>
      </div>
     </div>
     <% end %> 
  </div>
 <div class="contents">
     <% @answers.each do |answer| %>
    <div class="content_post">
      <div class="content_left">
       解答
      </div>
      <div class="content_right">
      <div class="question-top">
       <div class="question-top__title">
         解答内容
       </div>
       <div class="question-top__name">
         投稿者名<%= answer.user.nickname %>
        </div>
       </div>
       <div class="question-bottom">
         <div class="question-bottom__content">
          <%= answer.answer_text %>
         </div>
        </div>
      </div>
     </div>
     <% end %> 
  </div>
 </div>
  <% if user_signed_in? && current_user != @fish.user%>
        <div class="prototype__manage">
 <%= link_to "質問をする", questions_path(id: @fish), class: :prototype__btn %>
      </div>
        <% end %>
          </div>
         </div>
       </main>

