<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @fish.name %>
      </p>
      <div class="prototype__image">
        <%= image_tag @fish.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">大きさ</p>
          <p class="detail__message">
            <%= @fish.size %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @fish.category.name %>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">水槽の大きさ</p>
          <p class="detail__message">
            <%= @breed.tank_size %>
          </p>
        </div>
           <div class="prototype__detail">
          <p class="detail__title">水温</p>
          <p class="detail__message">
            <%= @breed.temperature %>
             </p>
            </div>
        <div class="prototype__detail">
          <p class="detail__title">使っているフィルター</p>
          <p class="detail__message">
            <%= @breed.filter %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">使っているライト</p>
          <p class="detail__message">
            <%= @breed.raito %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">水質</p>
          <p class="detail__message">
            <%= @breed.condition %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">底砂</p>
          <p class="detail__message">
            <%= @breed.sand %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">水草</p>
          <p class="detail__message">
            <%= @breed.plant %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">飼育環境の説明</p>
          <p class="detail__message">
            <%= @breed.breeding_text %>
          </p>
        </div>
         <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
       <% if user_signed_in? && current_user == @fish.user %>
        <div class="prototype__manage">
          <%= link_to "魚の情報を編集する", edit_fish_path(@fish), class: :prototype__btn %>
           <%= link_to "飼育環境の情報を編集する",  edit_fish_breed_path(@fish), class: :prototype__btn %>
          <%#= link_to "削除する", prototype_path(@prototype), method: :delete, class: :prototype__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <%# <div class="prototype__comments"> %>
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%# if user_signed_in? %>
          <%#= form_with(model:[@prototype,@comment],local: true) do |f| %>
            <%# div class="field"> %>
              <%# <%= f.label :content, "コメント" %>
              <%# br />
              <%# <%= f.text_field :content, id:"comment_content" %>
            <%# </div> %>
            <%# <div class="actions"> %>
              <%# <%= f.submit "送信する", class: :form__btn  %> 
            <%# </div> %>
          <%# <% end %> 
         <%# <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <%# <ul class="comments_lists"> %>
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
             <%# <% @comments.each do |comment| %>
               <%# <li class="comments_list"> %>
                 <%# <%= comment.content%>
                 <%# <%= link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %>
               <%# </li> %>
              <%# <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        <%# </ul> %>
      <%# </div> %>
    </div>
  </div>
</main>
